<h1>Convert <%=@original_currency%></h1>

  <p>Go <a href="/">back</a>.</p>
  <ul>
  <%@parsed_data.fetch("currencies").each do |currency|%>
    <li><a href="/<%=@original_currency%>/<%=currency.at(0)%>">Convert 1 <%=@original_currency%> to <%=currency.at(0)%>...</a></li>
  <%end%>
  </ul>
